.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

body {
    background-image: url("vintage-concrete.png");
}

.container {
    width: 960px;
    margin: 50px 100px 0 100px;
}

#navbar {
    background: #ffffff;
    border-bottom: solid black;
    border-width: 1px;
    border-bottom-color: gray;
}

nav {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
    float: right;
    margin: 0 100px 0 0;
}

header {
    background: #4aaaa5;
    width: 200px;
    height: 40px;
    font-family:  'Georgia', Times, "Times New Roman", serif;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0 100px 0 100px;
    float: left;
}

#menuItems {
    color: #777777;
    padding-top: 20px;
    margin: auto;
    font-size: 20px;
    
}

a:link {
    text-decoration: none;
}

a {
    color: #777777;
}

p {
    color: #777777;
    line-height: 1.6;
}

section {
    background: white;
    border: solid gray 1px;
    padding: 20px;
}

#aboutme {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 30px;
    color: #4aaaa5;
    padding: 20px;
}

img {
    float: left;
    padding: 20px 20px 0 0;
}

#bio {
    padding: 20px;
}

#bio2 {
    padding-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #666666;
    border-top: solid #4aaaa5 5px;
    width: 100%;
    height: 50px;
    margin: auto;
    text-align: center;
}

p.footerP, footerP {
    color: white ;
}

footer>p {
    display:inline;
}